@use '../../styles/abstracts/' as *;

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 100px;
  gap: clamp(10px, 2vw, 1.5rem);

  @include mq(lg) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
  }
}

.itemContainer {
  border-left: 8px solid $bg-secondary;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  background-color: $bg-white;
  padding: 0 5%;

  div {
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 7px;
  }

  .title {
    font-size: clamp(13px, 2vw, 18px);
  }

  svg {
    font-size: 25px;
    color: $text-link;
  }

  h1 {
    font-size: clamp(18px, 3vw, 28px);
    margin: 0;
    color: $text-link;
    vertical-align: top;
    height: min-content;
  }

  p {
    color: $text-success;
    font-size: clamp(13px, 2vw, 18px);
    font-weight: 600;
    margin: 0;
    flex-grow: 1;
  }

  button {
    border: none;
    background: transparent;
  }
}
