@use '../../../styles/abstracts/' as *;

.main {
  background: linear-gradient(to right, #f7832d, #ffb103);
  color: $text-inverse;
  font-size: 14px;
}

.button {
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  border: none;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.primary {
  background: #007bff;
  color: white;

  &:hover {
    background: #0056b3;
  }
}

.secondary {
  background: #6c757d;
  color: white;

  &:hover {
    background: #545b62;
  }
}

.danger {
  background: #dc3545;
  color: white;

  &:hover {
    background: #a71d2a;
  }
}

.outline {
  background: transparent;
  border: 1px solid #007bff;
  color: #007bff;

  &:hover {
    background: #007bff;
    color: white;
  }
}

.fullWidth {
  width: 100%;
}
