$color-secondary: #f7832d;
$color-primary: #002b79;

// Foreground
$fg-primary: #002b79;
$fg-secondary: #e6e6e6;
$fg-tertiary: #1c2124;
$fg-quaternary: #0e0f10;
$fg-muted: #babfc3;

// Text
$color-text-light: #8b8680;
$text-default: #002b79;
$text-weak: #6e7379;
$text-muted: #8a8f94;
$text-inverse: #ffffff;
$text-error: #ec6e6a;
$text-success: #1abd70;
$text-link: #002b79;
$text-part: #6b6b6b;

// Border
$color-border-light: #e8e6e1;
$border-primary: #dadfe3;
$border-secondary: #c5c9ce;
$border-tertiary: #e6e6e6;
$border-avatar: #be0202;

// Background
$bg-primary: #002b79;
$bg-secondary: #074ce7;
$bg-tertiary: #f57838;
$bg-notify: #ff9201;
$bg-light: #f1f1f1;
$bg-white: #ffffff;
$bg-dark: #232428;
$bg-error: #da5453;

// Hover / Interaction
$hover-button: #074ce7;
$hover-border: #6c757d;
$hover-gray-button: #f5f5f5;

// System
$system-in-progress: #3683e5;
$system-in-edited: #fdf4aa;

// Thumb
$thumb-bar: #a8a8a7;
$color-success: #52c41a;
