$brand-primary: #002B79;
$brand-secondary: #ffe0ca;
$brand-tertiary: #fff2e9;
$brand-neutral: #6e7379;
$brand-destructive: #dd443c;
$bg-notify: #f1bf42;
$bg-primary: #fff;
$bg-secondary: #f3f3f5;
$bg-tertiary: #dbdbdf;
$fg-primary: #42484f;
$fg-secondary: #2f3437;
$fg-tertiary: #1c2124;
$border-avatar: #be0202;
$border-primary: #dadfe3;
$border-secondary: #c5c9ce;
$border-tertiary: #e6e6e6;
$text-default: #171d25;
$text-weak: #6e7379;
$text-muted: #8a8f94;
$text-inverse: #fff;
$text-error: #ec6e6a;
$thumb-bar: #a8a8a7;
$fg-quaternary: #0e0f10;
$system-in-progress: #3683e5;
$system-in-edited: #fdf4aa;
$bg-error: #da5453;
$fg-muted: #babfc3;
$hover-button: #074CE7;
$hover-border: #6c757d;
$hover-gray-button: #f5f5f5;
