@use '../../styles/abstracts' as *;

.dashboard {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  .statsCard {
    border-radius: 1rem;
    border-left: solid 10px #002b79;
  }

  .sectionTitle {
    color: #002b79;
    font-size: 24px;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .mapCard {
    height: 400px;
    width: 100%;
    position: relative;
    padding: 0;
    border-radius: 24px;

    .mapWrapper {
      height: 100%;
      width: 100%;
      border-radius: 24px;
      overflow: hidden;
      border: solid 4px #ffffff;
    }
  }

  .recent-activity-card {
    border-radius: 24px;

    .list {
      height: 350px;
      overflow-y: auto;
      padding: 12px;

      .list-item-actions {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .status-btn {
          border-radius: 10px;
          color: white;
          cursor: default;
        }

        .receive-btn {
          border-radius: 10px;
        }
      }

      .locker-avatar {
        width: 60px;
        border-radius: 8px;
      }

      .list-item-title {
        color: #002b79;

        div {
          margin-bottom: 2px;
        }

        strong {
          font-weight: 600;
        }
      }
    }
  }

  .chart-card {
    height: 300px;
    background: #eaeaea;
  }

  .transaction-card {
    margin-bottom: 24px;
  }
}
