/* button primary global */
.ant-btn-primary {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(91, 91, 91, 0.5);
  color: white;
  letter-spacing: 0.5px;

  /* Gradient defaut */
  background: linear-gradient(to right, #f7832d 9%, #ffb103 91%);
  transition: border-color 0.3s ease;
}

.ant-btn-primary::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #ff9a4d, #ffc233);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.ant-btn-primary:hover::before {
  opacity: 1;
}

.ant-btn-primary:hover {
  border-color: #ff9a4d;
}

.ant-btn-primary:active::before {
  background: linear-gradient(to right, #e66f1f, #e69b00);
}
