@use '../../styles/abstracts' as *;

.layout {
  min-height: calc(100vh - 58px);
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 58px;
  min-height: calc(100vh - 58px);
  display: flex;
  flex-direction: column;

  @include mq(lg) {
    flex-direction: row;
  }
}
