@use '../../styles/abstracts' as *;

.layout {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 64px;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;

  @include mq(lg) {
    flex-direction: row;
  }
}
