.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: transparent;
  padding: 0 2rem;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.logo {
  width: 40px;
  height: 40px;
  background: url('/favicon.svg') no-repeat center center;
  background-size: contain;
}

.nav {
  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;

    li {
      font-size: 1.05rem;
      cursor: pointer;
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: #fff;
        padding: 0.4rem 0.6rem;
        border-radius: 6px;
        transition: all 0.3s ease;
        font-weight: 600;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        letter-spacing: 1.5px;
      }

      a:hover {
        color: #000;
      }
    }
  }
}

/* Toggle icon */
.menuToggle {
  display: none;
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Mobile */
@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 50px;
    right: 24px;
    border-radius: 1rem;
    background-color: rgba(0, 21, 41, 0.9);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column-reverse;

    ul {
      flex-direction: column;
      gap: 1.2rem;
      padding: 2rem 1rem;
      display: flex;
      align-items: flex-start;
    }

    li {
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      a {
        width: 100%;
        font-weight: 300;
        font-size: 1rem;
      }
    }
  }

  /* Khi menu mở */
  .navOpen {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .menuToggle {
    display: block;
    z-index: 1001;
  }
}

.activeLink {
  color: #000 !important;
  font-weight: 700;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 0.4rem 0.6rem;
}
