@use '../../styles/abstracts' as *;

.loginContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 7%;
  gap: 10px;
  background-color: $bg-white;

  a {
    color: $text-link;
    text-decoration: none;
  }

  h1 {
    margin: 0;
  }

  span {
    font-weight: 500;
  }

  @include mq(sm) {
    padding: 5rem 9rem;
  }

  @include mq(lg) {
    padding: 5rem 7%;
  }
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  margin-top: 1rem;

  label {
    font-size: 16px;
    font-weight: 500;
  }
}

.phoneInput {
  height: 2.5rem;
  border: 2px solid #5b5b5b;
  border-radius: 7px;
  padding: 0 0.7rem;
}

.passwordInput {
  height: 2.5rem;
  border: 2px solid #5b5b5b;
  border-radius: 7px;

  display: flex;
  gap: 10px;
  justify-content: space-between;
  background-color: $bg-white;
  padding: 0 0.7rem;

  input {
    border: none;
    flex-grow: 1;
    border-radius: 7px;
  }

  input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.rememberContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginButton {
  margin-top: 3rem;
  width: 100%;
  height: 3rem;
  background-color: $bg-primary;
  border-radius: 7px;
  cursor: pointer;

  color: $text-inverse;
  font-size: 14px;
  font-weight: 500;
}

.loginWithGoogleButton {
  width: 100%;
  height: 3rem;
  background-color: $bg-white;
  border: 2px solid $border-secondary;
  border-radius: 7px;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;

  &:hover {
    border-color: $hover-border;
  }
}

.circleContainer {
  display: none;

  @include mq(lg) {
    display: block;
  }
}

.circle {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 0;
  left: 0;
  background: #000;
  border-radius: 0 100% 0 0;
  z-index: 4;
}

.border1 {
  position: absolute;
  width: 85px;
  height: 85px;
  bottom: 0;
  left: 0;
  background: transparent;
  border: 2px solid black;
  border-radius: 0 100% 0 0;
  z-index: 3;
}

.border2 {
  position: absolute;
  width: 95px;
  height: 95px;
  bottom: 0;
  left: 0;
  background: transparent;
  border: 1px solid black;
  border-radius: 0 100% 0 0;
  z-index: 2;
}
.border3 {
  position: absolute;
  width: 105px;
  height: 105px;
  bottom: 0;
  left: 0;
  background: transparent;
  border: 1px solid black;
  border-radius: 0 100% 0 0;
  z-index: 1;
}
