@use '../../styles/abstracts/' as *;

.container {
  height: 400px;
  border-radius: 24px;
  overflow: hidden;
  border: solid 4px #ffffff;
}

.searchBar {
  position: absolute;
  top: 75px;
  left: 10px;
  z-index: 1000;
  padding: 0.5rem 1rem;
  background-color: $bg-white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  input {
    all: unset;
  }
}

.lockerContainer {
  display: flex;
  justify-content: space-evenly;
}

.lockerPopup {
  background: blue !important;
}
