@use '../../styles/abstracts' as *;

.transactionContainer {
  background: $bg-white;
  border-radius: 10px;
  padding: 0 0.8rem;
  overflow-y: auto;
  height: 100%;
}

.spinLoading {
  margin: 1rem;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
