@use '../../../styles/abstracts/' as *;

p,
h1 {
  margin: 0;
  text-align: center;
}

.container {
  width: 25%;
  border-radius: 10px;
  background-color: $bg-tertiary;
  overflow: hidden;

  h1 {
    width: 80%;
    font-size: clamp(13px, 3vw, 16px);
  }
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0;
  gap: 5px;
  color: $text-inverse;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-white;
  padding: 0.5rem 0;
}

.size {
  width: 100%;
  background-color: $bg-white;
  color: $text-default;
  border-radius: 20px;
}

.slot {
  width: 32px !important;
  height: 27px;
  border-radius: 100%;
  background-color: $bg-tertiary;
  color: $text-inverse;
  padding-top: 3px;
}
