@use '../../../styles/abstracts/' as *;

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid $border-tertiary;

  h1 {
    font-size: clamp(11px, 2.5vw, 16px);
    font-weight: 600;
    margin: 0;
    white-space: nowrap;
  }

  p {
    font-size: clamp(8px, 2vw, 13px);
    margin: 0;
    white-space: nowrap;
  }
}

.left {
  display: flex;
  gap: 10px;
  width: 70%;

  svg {
    margin-top: 10px;
  }

  h1 {
    color: $text-default;
    margin: 0.3rem 0;
  }

  p {
    color: $text-weak;
  }
}

.right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  font-size: clamp(14px, 2.5vw, 16px);

  svg {
    margin-top: 5px;
  }

  p {
    color: $text-link;
    font-weight: 600;
  }
}

.add {
  color: $text-success;
}

.minus {
  color: $text-error;
}
